<div id="form-row1" class="form-row">
  <div class="form-group col-sm-3">
    <label for="mon">MONDAY</label>
    <i id="down_icon" class='fas fa-arrow-circle-down'></i>
    <i id="up_icon" class='fas fa-arrow-circle-up'></i>
    <input type="text" class="form-control" name="mon" id="mon" value=<%= rows.mon%>>
  </div>
</div>
<div id="form-row2" class="form-row">
  <div class="form-group col-sm-3">
    <label for="tue">TUESDAY</label>
    <input type="text" class="form-control" name="tue" id="tue" value=<%= rows.tue%>>
  </div>
  <div class="form-group col-sm-3">
    <label for="wen">WENDSDAY</label>
    <input type="text" class="form-control" name="wen" id="wen" value=<%= rows.wen%>>
  </div>
  <div class="form-group col-sm-3">
    <label for="thu">THURSDAY</label>
    <input type="text" class="form-control" name="thu" id="thu" value=<%= rows.thu%>>
  </div>
</div>
<div id="form-row3" class="form-row">
    <div class="form-group col-sm-3">
      <label for="fri">FRIDAY</label>
      <input type="text" class="form-control" name="fri" id="fri" value=<%= rows.fri%>>
    </div>
    <div class="form-group col-sm-3">
      <label for="sat">SATURDAY</label>
      <input type="text" class="form-control" name="sat" id="sat" value=<%= rows.sat%>>
    </div>
    <div class="form-group col-sm-3">
      <label for="sun">SUNDAY</label>
      <input type="text" class="form-control" name="sun" id="sun" value=<%= rows.sun%>>
    </div>
</div>
