<!DOCTYPE html>
<html lang="en">

<head>

  <header>
    <%- include ("./header") %>
  <header>

</head>

<body>

  <nav class="d-flex nav w-100 p-3">
    <a class="p-2 nav-link" href="/main/">HOME</a>
    <a class="p-2 nav-link" href="/claim/do">DO CLAIM</a>
    <a class="p-2 nav-link" href="/claim/list">CLAIM LIST</a>
    <div class="ml-auto p-2 dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ADMIN
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <a class="dropdown-item nav-link" href="" onclick="sendDelete(event, <%= data.id%>)" type="button">DELETE</a>
        <a class="dropdown-item nav-link" href="/admin/claim/update/<%= data.id%>?previous=/claim/detail/<%= data.id%>" type="button">UPDATE</a>
      </div>
    </div>
  </nav>

  <div class="container p-3 my-3">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name='title' value="<%= data.title%>" disabled>
    </div>
    <div class="form-group">
      <label for="title">Store</label>
      <input type="text" class="form-control" id="name" name='name' value="<%= data.name%>" disabled>
    </div>
    <div class="form-group">
      <label for="place">Place</label>
      <input type="text" class="form-control" id="place" name='place' value="<%= data.place%>" disabled>
      <input type="hidden" id="lat" name="lat" value="<%= data.lat%>">
      <input type="hidden" id="lng" name="lng" value="<%= data.lng%>">
      <div id="map" style="width:100%;height:250px;"></div>
    </div>

    <%- include ("./claim_detail/time") %>

    <div class="form-group">
      <label for="place">Telephon number</label>
      <input type="text" class="form-control" id="tel" name='tel' value="<%= data.tel%>" disabled>
    </div>
    <div class="form-group">
      <label for="place">Desription</label>
      <textarea class="form-control" id="description" name='description' disabled><%= data.description%></textarea>
    </div>

  <!-- Bootstrap core JavaScript -->
  <footer>
    <%- include ("./footer") %>
  <footer>

</body>
<script src='/js/font.js'></script>
<script src="/js/claim_detail.js"></script>
<script src="/js/do_claim/time_menu.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e715bf635c806908c70e37ffb15809f7&libraries=services"></script>
<script src='/js/load_map.js'></script>
</html>
