<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Casey Store</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
crossorigin="anonymous">

</head>

<body>

  <nav class="d-flex nav w-100 p-3">
    <a class="p-2 nav-link" href="/main/">HOME</a>
    <a class="p-2 nav-link" href="/claim/do">DO CLAIM</a>
    <a class="p-2 nav-link" href="/claim/list">CLAIM LIST</a>
    <a class="ml-auto p-2 nav-link" href="" onclick="sendDelete(event, <%= data.id%>)">DELETE</a>
    <a class="nav-link" href="/admin/claim/update/<%= data.id%>">UPDATE</a>
  </nav>

  <div class="col-lg-12 text-center p-5">
    <h3 class="mt-5 text-secondary"><%= data.title%></h1>
    <div class="container mt-5 pt-5">
      <div class="card bg-light">
        <div class="card-body text-center p-5">
          <h1 class="card-title"><%= data.name%></h1>
          <h3 class="card-subtitle mb-2 text-muted"><%= data.place%></h3>
          <h3 class="card-subtitle mb-2 text-muted"><%= data.time%></h3>
          <h3 class="card-subtitle mb-2 text-muted"><%= data.tel%></h3>
          <p class="card-text display-4"><%= data.description%></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

</body>
<script>
  function sendDelete(event, id){
    event.preventDefault();
    var xhttp = new XMLHttpRequest();
    xhttp.open("DELETE", `/admin/claim/delete/${id}`, true);
    xhttp.send();
  }
</script>
</html>
