<!DOCTYPE html>
<html lang="en">

<head>

  <header>
    <%- include ("./header") %>
  <header>

</head>

<body>

  <nav class="nav w-100 p-3">
    <a class="nav-link" href="/main/">HOME</a>
    <a class="nav-link" href="/claim/list">CLAIM LIST</a>
  </nav>

  <form method="post" action="/claim/do">
    <div class="container p-3 my-3">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name='title' placeholder="Enter title">
      </div>
      <div class="form-group">
        <label for="Casey_Store">Casey Store</label>
        <select class="form-control" id="casey_store" name="casey_store">
          <%for(var i = 0; i < store_data.length; i++){%>
            <%if(store_data[i].name===store){%>
              <option id="<%= store_data[i].name%>" selected="selected"><%= store_data[i].name%></option>
            <%} else{ %>
                <option id="<%= store_data[i].name%>"><%= store_data[i].name%></option>
            <%}%>
          <%}%>
          <option>others</option>
        </select>
      </div>
      <br></br>

      <div class="form-group">
        <label for="place">Where is the store</label>
        <!--<input type="text" class="form-control" id="place" name='place' placeholder="Enter place">-->
        <a type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
          Search place
        </a>
        <input type="text" class="form-control" id="place" name='place' placeholder="Search place" disabled>
      </div>

      <%- include ("./do_claim/modal") %>
      <%- include ("./do_claim/time") %>

      <br></br>

      <div class="form-group">
        <label for="tel">What is the store telephon number</label>
        <input type="tel" class="form-control" id="tel" name='tel' placeholder="123-1234-1234" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4} | [0-9]{3}-[0-9]{3}-[0-9]{4} | [0-9]{3}-[0-9]{4}">
      </div>
      <div class="form-group">
        <label for="place">Write more detail about store</label>
        <textarea class="form-control" id="description" name='description'placeholder="Enter description"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>


  <!-- Bootstrap core JavaScript -->
  <footer>
    <%- include ("./footer") %>
  <footer>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e715bf635c806908c70e37ffb15809f7&libraries=services"></script>
  <script src="/js/do_claim/map.js"></script>
  <script src="/js/do_claim/getLocation.js"></script>
  <script src="/js/do_claim/putPlace.js"></script>
</body>

</html>
