<!DOCTYPE html>
<html lang="en">

<head>
  <header>
    <%- include ("./header") %>
  <header>
</head>

<body>

  <nav class="d-flex nav w-100 p-3">
    <a class="p-2 nav-link" href="/claim/do">DO CLAIM</a>
    <a class="p-2 nav-link" href="/claim/list">CLAIM LIST</a>
    <%if(logined){%>
      <a class="ml-auto p-2 nav-link" href="/login/logout">ADMIN LOGOUT</a>
      <a class="p-2 nav-link" href="/admin/store/add">ADD</a>
    <%} else {%>
      <a class="nav-link" href="/login/login">ADMIN LOGIN</a>
  <%}%>
  </nav>

  <div class="jumbotron">
    <div class="container text-center">
      <h1>CASEY STORE</h1>
      <p>CLAIM, SEARCH, SHARE</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <%for(var i = 0; i < data.length; i++){%>
        <div class="col-sm-4">
          <a class="card text-white bg-light text-primary mb-3" href="/main/detail/<%=data[i].name%>">
            <div class="card-header"><%= data[i].name%></div>
            <div class="card-body">
              <h5 class="card-title">STORE TELEPHONE NUMBER</h5>
              <p class="card-text"><%= data[i].tel%></p>
            </div>
          </a>
        </div>
      <%}%>
    </div>
  </div>
  <br><br>

  <footer class="container-fluid text-center">
    <p>SEE MORE STORE</p>
    <div class="btn-group dropup text-center">
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        STORE
      </button>
      <div class="dropdown-menu text-center">
        <%for(var i=0; i<name.length; i++){%>
          <a class="dropdown-item" href="/main/detail/<%= name[i].name%>"><%= name[i].name%></a>
        <%}%>
      </div>
    </div>
  </footer>

  <footer>
    <%- include ("./footer") %>
  <footer>
</body>

</html>
