<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("./header") %>
</head>

<body>

  <nav class="d-flex nav w-100 p-3">
    <a class="p-2 nav-link" href="/main/">HOME</a>
    <a class="p-2 nav-link" href="/claim/do?store=<%= data.name%>">DO CLAIM</a>
    <a class="p-2 nav-link" href="/claim/list">CLAIM LIST</a>
    <div class="ml-auto p-2 dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ADMIN
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <a class="dropdown-item nav-link" href="" id="store_detail_delete" data-name="<%=data.name%>" type="button">DELETE</a>
        <a class="dropdown-item nav-link" href="/admin/store/update/<%= data.id%>?previous=/main/detail/<%= data.name%>" type="button">UPDATE</a>
      </div>
    </div>
  </nav>

  <div class="container p-3 my-3">
    <div class="form-group">
      <label for="title">Store</label>
      <input type="text" class="form-control" id="title" name='title' value="<%= data.name%>" disabled>
    </div>
    <div class="form-group">
      <label for="place">Place</label>
      <input type="text" class="form-control" id="place" name='place' value="<%= data.place%>" disabled>
      <input type="hidden" id="lat" name="lat" value="<%= data.lat%>">
      <input type="hidden" id="lng" name="lng" value="<%= data.lng%>">
      <div id="map" style="width:100%;height:250px;"></div>
    </div>

      <%- include ("./claim_detail/time") %>

    <div class="form-group">
      <label for="place">Telephon number</label>
      <input type="text" class="form-control" id="tel" name='tel' value="<%= data.tel%>" disabled>
    </div>
    <div class="form-group">
      <label for="place">Desription</label>
      <textarea class="form-control" id="description" name='description'><%= data.description %></textarea>
    </div>

    <footer>
      <%- include ("./footer") %>
    <footer>
    <script src='/js/font.js'></script>
    <script src="/js/store_detail.js"></script>
    <script src="/js/do_claim/time_menu.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e715bf635c806908c70e37ffb15809f7&libraries=services"></script>
    <script src='/js/load_map.js'></script>

</body>

</html>
