<!DOCTYPE html>
<html lang="en">

<head>

  <header>
    <%- include ("./header") %>
  <header>

</head>

<body>

  <nav class="d-flex nav w-100 p-3">
    <a class="p-2 nav-link" href="/main/">HOME</a>
    <a class="p-2 nav-link" href="/claim/do">DO CLAIM</a>
    <a class="p-2 nav-link" href="/claim/list">CLAIM LIST</a>
  </nav>

  <form method="post" action="/admin/store/update/<%= rows.id%>?_method=PUT&previous=/store/detail/<%= rows.id%>">
    <div class="container p-3 my-3">
      <div class="form-group">
        <label for="Casey_Store">Casey Store</label>
        <input type="text" class="form-control" id="name" name='name' value=<%= rows.name%>>
      </div>
      <div class="form-group">
        <label for="place">Where is the store</label>
        <input type="text" class="form-control" id="place" name='place' value=<%= rows.place%>>
      </div>
      <div class="form-group">
        <label for="time">Write open time and close time</label>
        <input type="text" class="form-control" id="time" name='time' value=<%= rows.time%>>
      </div>
      <div class="form-group">
        <label for="place">What is the store telephon number</label>
        <input type="text" class="form-control" id="tel" name='tel' value=<%= rows.tel%>>
      </div>
      <div class="form-group">
        <label for="place">Write more detail about store</label>
        <textarea class="form-control" id="description" name='description' value=<%= rows.description %>></textarea>
      </div>
      <input type="hidden" id="before_name" name='before_name' value=<%= rows.name%>>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  <!-- Bootstrap core JavaScript -->
  <footer>
    <%- include ("./footer") %>
  <footer>

</body>
</html>
